<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant_ingredient.name %>
</p>

<%= link_to 'Edit', edit_restaurant_ingredient_path(@restaurant_ingredient) %> |
<%= link_to 'Back', restaurant_ingredients_path %>
