<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant_category.name %>
</p>

<%= link_to 'Edit', edit_restaurant_category_path(@restaurant_category) %> |
<%= link_to 'Back', restaurant_categories_path %>
